body {
  font-family: "Arial";
}

h1 {
  text-align: center;
  color: black;
  font-weight: 700;
}

h2 {
  text-align: center;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
}

ul {
  border-top: 1px solid grey;
  margin: 30px;
}

li {
  border-bottom: 1px solid grey;
  padding: 10px 0;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  font-size: 1.5em;
  list-style-type: circle;
}

li::marker {
  font-size: 1.5em;
}

/* Add striping every other li element */
li:nth-child(even) {
    background-color: hsla(30, 14%, 95%, .4);
}

img {
  height: 0.8em;
  float: right;
  cursor: pointer;
}
/* Change cursor to a pointer on the li elements so user can visually see a clicking action is available */
span {
  cursor: pointer;
}

a {
  /* Moving logout to the top right corner */
  position: absolute;
  right: 40px;
  top: 30px;
  text-decoration: none;
  font-size: 1.2em;
}

input {
    font-size: 1em;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.select-font, .select-color {
    font-size: 1em;
    text-align: center;
    margin-top: 50px;
  }

/* Background color picker */


.settings-icon {
    position: absolute;
    left: 40px;
    top: 30px;
    height: 1.5em;
}

/* Class to make elements hidden */
.hidden {
    display: none;
}
